body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("../img/blue.jpg");
    background-size: cover;
    background-blend-mode: lighten;
}

.title {
    margin: 5rem;
    display: flex;
    color: #402201;
    border: 20px;
    border-style: ridge;
    border-color: #1681e1;
    padding: 1rem;
    background-color: #ffd100;
}

.content {
    margin-inline: 7rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.text-title {
    margin: auto;
    padding: 1rem;
    border: 10px;
    border-style: outset;
    border-color: #FFEB3B;
}

h4.text {
    margin-inline: 4rem;
    padding: 0.5rem;
    border: 10px;
    border-radius: 15%;
    border-style: dotted;
    border-color: #FFEB3B;
    color: #402201;
    text-align: center;
    background-color: beige;
}

.button-emoji {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

button.button {
    margin: 1rem;
    margin-right: 10rem;
    border: 5px;
    border-style: outset;
    border-color: gainsboro;
    padding: 1rem;
    color: #402201;
    background-color: snow;
    cursor: pointer;
}